.container {
  display: flex;
  width: 100vw;
  height: 100vh;

  .video {
    flex: 75%;
    position: relative;
    overflow: hidden;

    video {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
  }

  .aside {
    flex: 25%;
    padding-right: 1.5rem;
  }
}
