.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  & > div {
    padding: 4rem 0;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 8rem;
      height: 0.5rem;
      border-bottom: 0.1px solid currentColor;
    }

    &:last-child:after {
      display: none;
    }

    & > * {
      color: inherit;
    }

    & > .specsTitle {
      font-size: var(--medium-font-size);
      font-weight: 600;
      padding: 1rem 0;
    }

    & > .specstSubTitle {
      font-size: var(--normal-font-size);
    }
  }
}
