.links {
  display: flex;
  font-size: var(--normal-font-size);
  list-style: none;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;

  & > li {
    text-transform: capitalize;
    padding: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}
/* querys */
@media only screen and (max-width: 520px) {
  .links li {
    padding: 0.2rem 0.5rem;
  }
}
