.main {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  img {
    height: 320vh;
    position: absolute;
    z-index: 0;
    top: 35%;
    transform: translate(-50%, -50%);
  }
}
