@mixin lineProps($height, $left, $top, $foo: false) {
  font-size: var(--normal-font-size);
  border-left: 0.3rem solid var(--secondary-color);
  padding-left: 1rem;
  z-index: 100;
  position: absolute;
  font-weight: 600;
  height: $height;
  left: $left;
  top: $top;

  &::before {
    top: 100%;
    @if ($foo) {
      top: 0%;
    }
    content: '';
    position: absolute;
    height: 1rem;
    width: 1rem;
    left: -0.1rem;
    transform: translateX(-50%);
    border: 2px solid var(--secondary-color);
    border-radius: 100%;
    background-color: var(--primary-color);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;

  .leftSide {
    flex: 25%;
    display: flex;
  }

  .rightSide {
    background-color: #f4f4f4;
    flex: 75%;
    position: relative;

    .line1 {
      @include lineProps(20rem, 25%, 25%);
    }
    .line2 {
      @include lineProps(10rem, 46%, 12%);
    }
    .line3 {
      display: flex;
      align-items: flex-end;
      @include lineProps(15rem, 50%, 55%, true);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}
