.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;

  .icon {
    color: var(--primary-color);
    font-size: 1.6rem;
    animation: mymove 1.5s infinite;
    animation-timing-function: cubic-bezier(0.17, 0.83, 1, 0.18);
    
    &:hover {
      cursor: pointer;
    }
  }
}

@keyframes mymove {
  from {
    margin-bottom: 1rem;
  }
  to {
    margin-bottom: 0;
  }
}
