.container {
  display: flex;
  justify-content: center;
  align-items: center;
  // filter: invert(1);

  & > button {
    font-size: inherit;
    border: 2px solid var(--secondary-color);
    border-radius: 50px;
    padding: 1rem 2.5rem;
    background-color: transparent;

    &:hover {
      background-color: var(--secondary-color);
      cursor: pointer;
      color: white !important;
    }
  }
}
