.container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  overflow: hidden;
  color: var(--primary-color);

  .leftSide {
    height: 100%;
    flex: 50%;
    position: relative;

    img {
      width: 100%;
      height: 50%;
      object-fit: cover;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -20%);
    }
  }
  .rightSide {
    flex: 50%;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;

    .buttonsContainer {
      button {
        border: 3px solid white;
        background-color: black;
        color: white;
        text-transform: uppercase;
        padding: 1rem 6rem;
        margin: 1rem 1rem 2rem;
        border-radius: 50px;
        opacity: 0.5;
        outline: none;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }

    span {
      font-weight: 600;
    }

    p:first-child {
      font-size: var(--medium-font-size);
      padding: 1rem;
    }

    ul li span {
      display: block;
    }

    .listWrapper {
      align-self: center;
      display: flex;
      font-size: var(--normal-font-size);
      width: 90%;

      ul {
        margin: 1rem;
        list-style: none;
        flex: 50%;
        width: 30%;
        li {
          line-height: 1.6;
          padding: 1rem 1rem 2rem 1rem;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            width: 4rem;
            height: 1px;
            border-top: 1px solid rgba(255, 255, 255, 0.445);
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  ul {
    flex: 50%;
  }
}
@media only screen and (max-width: 1080px) {
  .buttonsContainer {
    justify-self: center;
    align-self: center;
    button {
      display: none;
    }
  }
}
@media only screen and (max-width: 900px) {
  .leftSide {
    display: none;
  }
}
