.container {
  width: 100vw;
  height: 100vh;

  .hero {
    height: 70%;
    overflow: hidden;
    position: relative;
    color: var(--primary-color);

    img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .text {
    height: 30%;
  }
}
