:root {
  /* Colores */
  --primary-color: #fff;
  --secondary-color: #000;
  --hover-color: #bec2c7;
  /* Tamaños de fuente */
  --small-font-size: 1.2rem;
  --normal-font-size: 1.5rem;
  --icon-font-size: 2rem;
  --medium-font-size: 3rem;
  --big-font-size: 4.5rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* font size se determina 10/16 */
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/* Querys */

@media only screen and (max-width: 800px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 640px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 590px) {
  :root {
    --big-font-size: 3.5rem;
    --medium-font-size: 2.5rem;
  }
}
