.container {
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  justify-content: center;

  :last-child {
    //button
    font-size: var(--normal-font-size);
  }

  & > div {
    padding: 0.5rem 2rem;

    &:not(:first-child):not(:last-child) {
      border-left: 0.1px solid var(--secondary-color);
    }

    & > * {
      color: currentColor;
    }

    & > .specsTitle {
      font-size: var(--medium-font-size);
      font-weight: 600;
    }

    & > .specstSubTitle {
      font-size: var(--normal-font-size);
    }
  }
}

@media only screen and (max-width: 1060px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 510px) {
  .container {
    flex-wrap: wrap;
  }
  .container > :last-child {
    padding-top: 2rem;
  }
}
@media only screen and (max-width: 380px) {
  .container {
    flex-wrap: wrap;
  }
  .container > :not(:last-child) {
    display: none;
  }
}
