.container {
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  justify-content: center;
  flex-wrap: wrap;

  .wrapper {
    display: flex;
    padding: 1rem 0;

    & > div {
      padding: 0.5rem 2rem;
      &:not(:first-child) {
        border-left: 0.1px solid var(--secondary-color);
      }

      & > * {
        color: currentColor;
      }

      & > .specsTitle {
        font-size: var(--medium-font-size);
        font-weight: 600;
      }

      & > .specstSubTitle {
        font-size: var(--normal-font-size);
      }
    }
  }
  :last-child {
    //button
    font-size: var(--normal-font-size);
  }
}

@media only screen and (max-width: 1060px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 520px) {
  .container .specstSubTitle {
    display: none;
  }
}
