.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .hero {
    height: 70%;
    overflow: hidden;
    position: relative;
    color: white;

    img {
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .text {
    height: 30%;
  }
}
