.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;

  .leftSide {
    flex: 25%;
    display: flex;
  }

  .rightSide {
    background-color: #f4f4f4;
    flex: 75%;
    position: relative;

    img {
      position: absolute;
      top: 5%;
      left: 0;
      width: 100%;
    }
  }
}
