.container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
  
  img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .upper {
    height: 70%;
    & > * {
      top: 10%;
      bottom: unset;
    }
  }
  .bottom {
    height: 30%;
  }
}
